*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


@mixin border-radius($raduis) {
	-webkit-border-radius: $raduis;
	-moz-border-radius: $raduis;
	-ms-border-radius: $raduis;
	-o-border-radius: $raduis;
	border-radius: $raduis;
}


@mixin translateX($translate) {
	-webkit-transform: translateX($translate);
	-moz-transform: translateX($translate);
	-ms-transform: translateX($translate);
	-o-transform: translateX($translate);
	transform: translateX($translate);
}

@mixin translateY($translate) {
	-webkit-transform: translateY($translate);
	-moz-transform: translateY($translate);
	-ms-transform: translateY($translate);
	-o-transform: translateY($translate);
	transform: translateY($translate);
}

@mixin scale($translate) {
	-webkit-transform: scale($translate);
	-moz-transform: scale($translate);
	-ms-transform: scale($translate);
	-o-transform: scale($translate);
	transform: scale($translate);
}

@mixin transition($_transition) {
	-webkit-transition: $_transition;
	-moz-transition: $_transition;
	-ms-transition: $_transition;
	-o-transition: $_transition;
	transition: $_transition;
}

@mixin box-shadow($_shadow) {
	-webkit-box-shadow: $_shadow;
	-moz-box-shadow: $_shadow;
	-ms-box-shadow: $_shadow;
	-o-box-shadow: $_shadow;
	box-shadow: $_shadow;
}

@mixin linear-gradient($direction, $_gradient_1, $_gradient_2) {
	background: -webkit-linear-gradient($direction, $_gradient_1, $_gradient_2);
	background: -moz-linear-gradient($direction, $_gradient_1, $_gradient_2);
	background: -ms-linear-gradient($direction, $_gradient_1, $_gradient_2);
	background: -o-linear-gradient($direction, $_gradient_1, $_gradient_2);
	background: linear-gradient($direction, $_gradient_1, $_gradient_2);
}

$main-color: rgb(242, 242, 242);

html {
	font-size: 100%;

	@media screen and (max-width: 769px) {
		font-size: 95%;
	}

	@media screen and (max-width: 376px) {
		font-size: 90%;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: .875rem;
	color: #a5a5a5;
}

a {
	text-decoration: none;
	color: #fff;

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}


#page {
	margin: 0 auto;
	overflow: hidden;
}


.page {
	overflow-y: hidden;
	&__wrap-slide-menu {
		position: fixed;
		top: 0;
		right: -100%;
		height: 100vh;
		width: 100%;
		z-index: 9999;
		@include transition(all .3s ease);

	}

	&__slide-menu {
		display: flex;
		justify-content: flex-end;
		background-color: rgba(#191d2b, .7) ;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		right: -100vw; //show on click
		z-index: 11;
		transition: right .4s linear;

		&.showMenu {
			right: 0;
		} 
	}


}


.slide-menu {
	//display: none;
	&__content {
		width: 50%;
		background-color: #191d2b;
		padding: 3.5rem 5rem;
		@media  (max-width: 550px) {
			width: 100%;
		}
	}
	&__list {
		padding: 0;
		margin: 0;
		margin-top: 50px;
		list-style: none;
	}

	&__item {
		line-height: 4;
	}

	&__link {
		color: #fff;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: normal;
		text-transform: capitalize;
		position: relative;

		&:after {
			content: "";
			display: block;
			height: 4px;
			width: 0%;
			background-color: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
			margin-top: 2px;
			@include transition(all .3s ease);
		}

		&:hover:after {
			width: 100%;
		}
	}

	&__icon {
		color: #fff;
		font-size: 2rem;
		position: absolute;
		top: 20px;
		right: 30px;
		cursor: pointer;
	}
}



.header {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	height: 100vh;
	background-color: #000;
	background-image: url(../img/computer-code.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.img-fluid {
	max-width: 100%;
	height: 100%;

	@media screen and (max-width: 426px) {
		height: auto;
	}
}

.showcase {
	height: 100vh;
	position: relative;
	&__navbar {
		width: 100%;
		position: relative;

		@media screen and (max-width: 991px) {
			background: #191d2b; // !important; 
		}
	}

	&__bar-icon {
		color: #fff;
		font-size: 2rem;
		position: absolute;
		top: 3px;
		right: 30px;
		cursor: pointer;

		@media screen and (max-width: 1024px) {
			right: -1px;
		}

		@media screen and (max-width: 991px) {
			display: none;
		}
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);
	}
}

.navbar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9000;
	transition: all .5s ease;
	@media screen and (max-width: 768px) {
		padding: 0;
	}
}

.bg-dark {
	background-color: transparent !important;
}

.navbar-brand {
	position: absolute;
	left: 51%;
	top: 9px;
	transform: translateX(-50%);

	@media screen and (max-width: 768px) {
		height: 35px;
		left: 10%;
		top: 11px;
	}

	@media screen and (max-width: 426px) {
		height: 35px;
		left: 15%;
		top: 5px;
	}

	&__logo {

		@media screen and (max-width: 426px) {
			width: 100px;
		}

		@media screen and (max-width: 320px) {
			width: 80px;
		}
	}
}

.bar-icon {
	background-color: rgba(#191d2b, 1);
	border: .5px solid rgba(#fff, 0.6);
	height: 56px;
	width: 62px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 10;
	&__item {
		height: 3px;
		width: 42px;
		margin-bottom: 7px;
		background-color: #fff;
		display: block;
		position: relative;
		@include border-radius(5px);
		@include transition(all .3s ease);
	
		&--first {
			top: 9px;
			transform: rotate(45deg);
		}
		&--middle {
			opacity: 0;
		}
	
		&--last {
			bottom: 9px;
			transform: rotate(-45deg);
		}
	}
}

.navbar-nav {
	@media screen and (max-width: 769px) {
		padding: 0 25px;
	}
}

.navbar-nav .nav-item {

	@media screen and (max-width: 769px) {
		margin: 5px 0;
	}
}

.navbar-dark .navbar-nav .nav-link {
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: rgb(242, 242, 242);
	padding: 0px 1.25rem !important;
	font-weight: 600;
	margin-top: .8rem;
	margin-bottom: .5rem;

	@media screen and (max-width: 769px) {
		padding: 8px 1.25rem !important;
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #00bcd4;
}

.separateur {
	@media screen and (max-width: 426px) {
		display: none;
	}
}

.content {
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;

	&__title {
		color: rgb(242, 242, 242);
		font-size: 3.6rem;
		font-family: 'Kurale', serif;
		margin-bottom: .4rem;
		padding: 0px 10px;

		@media screen and (max-width: 1024px) {
			font-size: 3rem;
		}

		@media screen and (max-width: 769px) {
			font-size: 2.6rem;
		}

		@media screen and (max-width: 426px) {
			padding-top: 6rem;
		}

		@media screen and (max-width: 321px) {
			font-size: 2rem;
		}
	}

	&__text {
		color: rgb(242, 242, 242);
		font-family: 'Kurale', serif;
		font-size: 1.7rem;
		padding-left: 5px;
		padding-right: 5px;

		@media screen and (max-width: 426px) {
			font-size: 1.3rem;
			margin-top: 1rem;
		}

		@media screen and (max-width: 376px) {
			font-size: 1.1rem;
		}
	}

	&__view-portofolio {

		position: relative;
		width: 60px;
		margin: 0 auto;
		margin-top: 3rem;
		overflow: hidden;
		&:hover .fa-angle-double-down {
			animation: none;
			-webkit-animation: none;
		}

		&:hover .box-1 {
			@include translateY(0%);
			@include transition(all .4s ease-in-out);
		}

		&:hover .box-2 {
			//transform: translateX(0%);
			@include translateX(0%);
			@include transition(all .4s ease-in-out);

		}

		&:hover .box-3 {
			//transform: translateY(0%);
			@include translateY(0%);
			@include transition(all .4s ease-in-out);

		}

		&:hover .box-4 {
			//transform: translateX(0%);
			@include translateX(0%);
			@include transition(all .4s ease-in-out);

		}
	}

	&__view-link {
		font-size: 2rem;
		font-family: 'Kurale', serif;
		color: rgb(242, 242, 242)
	}

	&__portofolio-icon {
		margin-bottom: 0;
		color: rgb(242, 242, 242)
	}
}


.fa-angle-double-down {
	animation: move 3s linear infinite;
	-webkit-animation: move 3s linear infinite;
}

@keyframes move {
	0% {
		@include translateY(-20%)
	}

	25% {
		@include translateY(0%)
	}

	50% {
		@include translateY(20%)
	}

	75% {
		@include translateY(0%)
	}

	100% {
		@include translateY(-20%)
	}
}


.box {

	position: absolute;
	background-color: rgb(242, 242, 242);
	display: block;
}

.box-1 {
	left: 0;
	bottom: 0;
	height: 100%;
	width: 3px;
	transform: translateY(100%);
}

.box-2 {
	left: 0;
	top: 0;
	height: 3px;
	width: 100%;
	transform: translateX(-100%);
}

.box-3 {
	right: 0;
	bottom: 0;
	height: 100%;
	width: 3px;
	transform: translateY(-102%);
	-webkit-transform: translateY(-102%);
	-moz-transform: translateY(-102%);
	-ms-transform: translateY(-102%);
	-o-transform: translateY(-102%);
}

.box-4 {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	transform: translateX(100%);
}


.hero-image__svg {
	position: absolute;
	bottom: -4px;
	//bottom: 15px;
	width: 100%;
	height: 8%;
	display: none;
}

.main-content {
	background-color: #10121b;
}

.about {

	&__title {
		font-size: 2rem;
		line-height: 2.7rem;
		color: #ffffff;
		font-family: Nunito, sans-serif;
		font-weight: 600;
	}

	&__theme {
		color: #037fff;
	}

	&__description {
		font-size: 18px;
		line-height: 1.8rem;
		font-family: Nunito, sans-serif;
		color: #a4acc4;
		font-weight: 400;
	}

	&__item {
		font-size: 18px;
		line-height: 2rem;
		font-family: Nunito, sans-serif;
		color: #a4acc4;
		font-weight: 400;
	}

	&__name {
		display: inline-block;
		//font-weight: 700;
		width: 155px;
		margin-right: 5px;
		//font-size: 20px;
		font-size: 22px;
		font-weight: 700;

	}

	&__img {
		padding-right: 2rem;
		max-width: 320px;
		object-fit: contain;
	}

	&__row {
		display: flex;

		@media screen and (max-width: 769px) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__list {
		list-style: none;
	}
}

.resume {

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		margin-bottom: 2rem;
		width: 48%;
	}

	&__title {

		font-size: 1.14rem;
		line-height: 1.857rem;
		font-family: Nunito, sans-serif;
		color: #fff;
		font-weight: 600;
	}

	&__progress {
		display: flex;
		align-items: center;
	}

	&__value {
		font-size: 18px;
		line-height: 1.8rem;
		font-family: Nunito, sans-serif;
		color: #a4acc4;
		font-weight: 400;
		padding-right: 20px;
	}

	&__bar {
		height: 6px;
		background: #2e344e;
		position: relative;
		width: 100%;
	}

	&__pourcent {
		position: absolute;
		left: 0;
		top: 0;
		height: 6px;
		background: #037fff;

	}
}

.portfolio {
	&__wrap-title {
		text-align: center;
		padding-bottom: 4rem;
		padding-top: 4rem;
	}

	&__title {
		position: relative;
		display: inline-block;
		color: #ffffff;
		font-family: 'Nunito', sans-serif;
		font-weight: 700;
		font-size: 2.57rem;
		line-height: 5.2857rem;
		text-transform: uppercase;

		&::before {
			content: "";
			display: block;
			width: 50%;
			height: 5px;
			background: rgba(3, 127, 255, .3);
			position: absolute;
			left: 0;
			bottom: 0;
			border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			-ms-border-radius: 100px;
			-o-border-radius: 100px;
		}

		&::after {
			content: "";
			display: block;
			width: 20%;
			height: 5px;
			background-color: #037fff;
			position: absolute;
			left: 0;
			bottom: 0;
			border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			-ms-border-radius: 100px;
			-o-border-radius: 100px;
		}

	}
}

.card {
	box-shadow: 0 0 12px -5px rgba(0, 0, 0, .8);
	min-height: 500px;
	background: #303853;
	margin-bottom: 1rem;

	&__image {
		position: relative;
		padding: 1rem 1rem 0 1rem;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, .1);
		}
	}

	&__link {

		text-align: center;
		@media screen and (max-width: 325px) {
			display: block;
			margin-bottom: 20px;
			width: 100%;
		}

		&--site {
			padding: 10px 28px;
			background-color: #34567d;
			border: 1px solid #34567d;
			color: #f2f2f2;
			font-family: Nunito, sans-serif;
			font-size: 1.2rem;
			margin-right: 1rem;
			border: none;
			text-decoration: none;
			

			&:hover {
				background-color: rgba(#4b7ab1, .1);
				box-shadow: none;

			}
		}

		&--source {
			padding: 9px 28px;
			border: 1px solid#4572a4;
			//color:#4572a4;
			color: #f2f2f2;
			font-family: Nunito, sans-serif;
			font-size: 1.2rem;
			text-decoration: none;

			&:hover {
				background-color: #34567d;
				color: #f2f2f2;
				border: 1px solid#34567d;
				box-shadow: none;
			}
		}
	}
}

.card-img-top {
	height: 250px;
}

.card-title {
	margin-bottom: .75rem;
	//font-family: 'Kurale', serif;
	font-family: Nunito, sans-serif;
	font-size: 22px;
	//color : #000000;
	color: #ffffff;
	font-weight: 700;
}

.card-text {
	//color: #000;
	color: #a4acc4;
	font-family: "Comfortaa", cursive;
	font-size: 16px;
	padding-bottom: 1rem;
}

//contact 
.contacts {
	min-height: 70vh;
	padding-top: 48px;
	background-image: url(../img/39.png);
	background-repeat: no-repeat;
	background-size: 104px;
	background-position: bottom 16px right 15%;

	&__title {
		font-size: 24px;
		//color: #000000;
		color: #a4acc4;
		margin-bottom: 24px;
		font-family: "Kurale", serif;
	}

	&__name {
		margin-top: 12px;
		font-family: "Comfortaa", cursive;
		//color: #000;
		color: #a4acc4;
		font-size: 16px;
	}

	&__link {
		display: block;
		text-decoration: none;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		//color: #000000;
		color: #a4acc4;
		font-size: 20px;
		font-family: "Comfortaa", cursive;

		@media screen and (max-width: 321px) {
			font-size: 18px;
		}

		&:hover {
			color: #ffa254;
			-webkit-transition: color .3s;
			-o-transition: color .3s;
			transition: color .3s;
		}

		&:after {
			content: " ";
			position: relative;
			display: block;
			width: 0;
			padding-bottom: 3px;
			opacity: 0;
			border-bottom: 2px solid #ffa254;
		}

		&:hover:after {
			content: " ";
			position: relative;
			display: block;
			width: 100%;
			-webkit-transition: all .3s cubic-bezier(0, .23, .45, -.1);
			-o-transition: all .3s cubic-bezier(0, .23, .45, -.1);
			transition: all .3s cubic-bezier(0, .23, .45, -.1);
			opacity: 1;
		}
	}
}

.contact {
	background-color: #fff;

	&__submit {
		display: block;
	}

	&__heading {
		color: #222;
		font-weight: bold;
		margin-bottom: 25px;
		margin-top: 30px;
		font-size: 1rem;
	}

	&__address {
		margin-bottom: 15px;
		font-size: .875rem
	}

	&__link {
		font-size: 14px;
		text-transform: uppercase;
		color: #00bcd4;
		font-weight: 800;
		display: inline-block;
		@include transition(all .3s ease-in);

		&:hover {
			color: #000;
		}
	}

	&__input {
		display: block;
		width: 100%;
		border: none;
		border-bottom: 1px solid #a5a5a5;
		padding: 12px 0;
		background: #fff;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		height: 44px;
		color: #a5a5a5;
		font-size: 14px;
		position: relative;
		-webkit-transition: border .9s ease;
		-o-transition: border .9s ease;
		transition: border .9s ease;
		margin-bottom: 20px;

		&:focus {
			outline: none;
		}



	}

	&__textarea {
		border: none;
		border-bottom: 1px solid #a5a5a5;
		padding: 12px 0;
		background: #fff;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #a5a5a5;
		font-size: 14px;
		position: relative;
		-webkit-transition: border .9s ease;
		-o-transition: border .9s ease;
		transition: border .9s ease;
		width: 100%;
		min-height: 175px;
		resize: none;


		&:focus {
			outline: none;

		}
	}

	&__submit {
		display: block;
		width: 100%;
		font-size: 13px;
		padding: 1rem 2.5rem;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		z-index: 1;
		border: 1px solid transparent;
		-webkit-border-radius: 30px;
		border-radius: 30px;
		overflow: hidden;
		background: #00bcd4;
		color: #fff;
		margin-top: 30px;

	}
}

.footer {
	//position: relative;
	background-color: #191d2b;
	&__nav {
		padding: 0;
		margin: 0;
		list-style: none;
		@media screen and (max-width: 426px) {
			margin: 25px 0;
		}
	}

	&__nav-item {
		height: 60px;
		width: 60px;
		text-align: center;
		line-height: 60px;

		@media screen and (max-width: 426px) {
			height: 50px;
			width: 50px;
			line-height: 50px;
		}
		margin: 0 5px;
		&--slide-menu {
			text-align: left;
		}
	}

	&__nav-link {
		color: #a4acc4;
		display: block;
		font-size: 1.9rem;
		@include border-radius(50%);
		@include transition(all .3s ease-in);
		@media screen and (max-width: 426px) {
			font-size: 1.5rem;
		}
		&:hover {
			background-color: #00bcd4;
			color: #fff;
		}

		&--slide-menu {
			color: $main-color;
			text-align: center;
		}
	}

	&__blocks {
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 40px 24px 64px;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		max-width: var(--max-screen);
		margin: 0 auto;
	}
}

.social-block {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.social-block__text {
	color: #a4acc4;
	font-size: 16px;
}

.social-block__link+.social-block__link {
	margin-left: 32px;
	color: #a4acc4;
}

.social-block__link {
	@media screen and (max-width: 426px) {
		display: block;
	}
}

.social-block__image {
	max-width: 14px;
	max-height: 14px;
	margin-right: 8px;
	vertical-align: middle;
}

.footer__blocks {
	@media screen and (max-width: 426px) {
		display: block;
	}
}

.copyright-block__text {
	@media screen and (max-width: 426px) {
		margin-top: 2rem;
	}
}

.linkToHome {
	display: block;
	text-decoration: none;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	@include linear-gradient(90deg, #423f9c, #862359);
	@include border-radius(50%);
	position: fixed;
	bottom: 100px;
	right: -40px;
	@include transition(all .2s ease-in);
}




.sometest {
	width: 10px;
}